<% layout('layouts/boilerplate') %>
    <form action="/campground" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="campground[title]">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" id="location" name="campground[location]">
        </div>
        
    </form>

    <footer>
        <button>Add Campground</button>
        <input type="button" onclick="location.href='/campground';" value="GO BACK" />
        <!-- <input type="button" onclick="location.href='/campground';" value="GO BACK" /> -->
    </footer>
    

