@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  box-sizing: border-box;
  
}

button {
  width : 100px;
  height : 100px;
  margin: 20px;
  border-radius: 20px;
  
}
